* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.modal-shadow {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-window {
  background-color: white;
  width: 600px;
  height: auto;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  border: 1px solid gray;
  border-radius: 0.25rem;
  max-height: 100vh;
}
.modal-header,
.modal-content,
.modal-footer {
  padding: 1rem 1rem 1rem;
}
.modal-header {
  border-bottom: 1px solid #ddd;
  font-weight: 700;
}
.modal-content {
  overflow: auto;
  max-height: calc(85vh - 4rem);
}
.modal-footer {
  border-top: 1px solid #ddd;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 1rem;
  justify-content: end;
}
.group label {
  cursor: pointer;
}
.modal-form {
  display: grid;
  row-gap: 1rem;
}
.form-section {
  display: grid;
  row-gap: 0.25rem;
}
.form-section-title {
  font-weight: 700;
}
.form-section .group {
  padding: 0.3rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.form-section .group:hover {
  background-color: #eee;
}