body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.developer {
  margin: 1rem;
}

.manager, .unit {
  border: 1px solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.children {
  padding-left: 1rem;
}

.managerName, .unitName {
  font-weight: bold;
}

.warning-developer {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
}