$headerBackgroundImageUrl: "../img/m-h-night.jpg";
$headerHeadingColor: #ffffff;
$headerSelectionColor: #ff4e33;
$landingLogoFontFamily: 'Fresca';
$landingLogoFontColor: #ffffff;
$headerTextFontFamily: "Fresca";
$headerTextColor: #ffffff;
$headerButtonBackgroundColor: #e3ac00;
$loginFontFamily: "Source Sans Pro";

$bodyBackgroundColor: #21232e;

$sectionTextColor: #ffffff;
$sectionTextSelectionColor: $headerSelectionColor;
$sectionCardBackgroundColor: #3b3f50;
$sectionCardImgWidth: 127%;
$sectionCardTextColor: #c0c3ce;
$sectionCardTextFontFamily: "Fresca";
$sectionCardTextFontWeight: normal;
$sectionCardTextWordSpacing: 0.1em;
$sectionCardTextLineHeight: 1.5em;
$sectionLinkColor: #c0c3ce;

$sectionBannerGradientStart: #dda306;
$sectionBannerGradientEnd: #953051;
$sectionBannerButtonBackgroundColor: $headerButtonBackgroundColor;
$sectionBannerHeadingTextColor: #ffffff;
$sectionBannerHeadingSelectionColor: $headerSelectionColor;
$sectionBannerTextFontFamily: "Fresca";

$footerBackgroundColor: #3b3f50;
$footerTextColor: #c0c3ce;
$footerFontFamily: "Fresca";
$footerLogoFontFamily: "Fresca";