$headerBackgroundImageUrl: "../img/m-h-day.jpg";
$headerHeadingColor: #2c2f3c;
$headerSelectionColor: #279fc7;
$landingLogoFontFamily: "Hind";
$landingLogoFontColor: #2c2f3c;
$headerTextFontFamily: "Hind";
$headerTextColor: #2c2f3c;
$headerButtonBackgroundColor: #699900;
$loginFontFamily: "Hind";

$bodyBackgroundColor: #ffffff;

$sectionTextColor: #2c2f3c;
$sectionTextSelectionColor: #279fc7;
$sectionCardBackgroundColor: #21232e;
$sectionCardImgWidth: 126%;
$sectionCardTextColor: #c0c3ce;
$sectionCardTextFontFamily: "Hind";
$sectionCardTextFontWeight: normal;
$sectionCardTextWordSpacing: inherit;
$sectionCardTextLineHeight: inherit;
$sectionLinkColor: #c0c3ce;

$sectionBannerGradientStart: #65950e;
$sectionBannerGradientEnd: #2f5dcf;
$sectionBannerButtonBackgroundColor: #699900;
$sectionBannerHeadingTextColor: #2c2f3c;
$sectionBannerHeadingSelectionColor: #14a0c7;
$sectionBannerTextFontFamily: "Hind";

$footerBackgroundColor: #21232e;
$footerTextColor: #c0c3ce;
$footerFontFamily: "Hind";
$footerLogoFontFamily: "Hind";