$headerBackgroundImageUrl: "../img/m-h-night.jpg";
$headerHeadingColor: #ffffff;
$headerSelectionColor: #ff4e33;
$landingLogoFontFamily: "Fresca";
$landingLogoFontColor: #ffffff;
$headerTextFontFamily: "Fresca";
$headerTextColor: #ffffff;
$loginFontFamily: "Source Sans Pro";

$sectionTextColor: #ffffff;
$sectionTextSelectionColor: $headerSelectionColor;
$sectionCardImgWidth: 127%;
$sectionCardTextColor: #c0c3ce;
$sectionCardTextFontFamily: "Fresca";
$sectionCardTextFontWeight: normal;
$sectionCardTextWordSpacing: 0.1em;
$sectionCardTextLineHeight: 1.5em;
$sectionLinkColor: #c0c3ce;

$sectionBannerGradientStart: #dda306;
$sectionBannerGradientEnd: #953051;
$sectionBannerHeadingTextColor: #ffffff;
$sectionBannerHeadingSelectionColor: $headerSelectionColor;
$sectionBannerTextFontFamily: "Fresca";

$footerTextColor: #c0c3ce;
$footerFontFamily: "Fresca";
$footerLogoFontFamily: "Fresca";

$colors: (
  primary: #3b3f50,
  background: #21232e,
  button: #e3ac00
);
