.invalid {
  border: 1px solid red;
}
.header {
  font-size: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
}
.input {
  border-radius: 0.75rem;
  height: 35px;
}
.properties {
  display: grid;
  row-gap: 1rem;
}
.form-group {
  font-size: 1.25rem;
}
.form-container {
  margin: 2rem auto 0;
  max-width: 520px;
}
.back {
  cursor: pointer;
}
.required::after {
  content: '*';
  color: red;
}