<div class="container">
  <div class="search">
    <input class="input input-search" placeholder="Search" [(ngModel)]="searchQuery" type="text" />
    <button class="button button-search" type="button" (click)="addUser()">Add new user</button>
  </div>
  <div class="user-list">
    <app-user
      *ngIf="newUser?.isEditing"
      [user]="newUser"
      (userChange)="onUserCreate($event)"
    ></app-user>
    <app-user
      *ngFor="let user of users | search: searchQuery"
      [user]="user"
      (userChange)="onUserUpdate($event)"
      (userDelete)="onUserDelete($event)"
    ></app-user>
  </div>
</div>