<form
  [ngClass]="{
    invalid: userForm.invalid,
    user: true
  }"
  [formGroup]="userForm"
  (submit)="save()"
>
  <div class="properties">
    <input class="input input-property" type="text" formControlName="name" />
    <input class="input input-property" type="text" formControlName="email" />
    <input class="input input-property" type="text" formControlName="phone" />
  </div>
  <div class="buttons">
    <button class="button" [disabled]="userForm.invalid" type="submit">
      Save
    </button>
    <!-- <button class="button" type="button" (click)="user.isEditing = false"> -->
    <button class="button" type="button">
      Discard
    </button>
  </div>
</form>
