@import "variables";

.header__navigation {
  min-height: 57px;
}

.navbar-light {
  .navbar-nav {
    .nav-link.active {
      background-color: @blue;
      color: white;
    }
  }
}

.class-description__header,
.class-description__title,
.related-classes__header {
  color: @blue;
}

.class-description__header,
.related-classes__header {
  border-bottom: 1px solid @blue;
}

.related-classes {
  color: white;
}

.colored-card(@color) {
  border-color: @color;

  .card-body {
    background-color: @color;
  }
}

.related-classes__cardio {
  .colored-card(@red);
}

.related-classes__fitness {
  .colored-card(@blue);
}

.related-classes__zumba {
  .colored-card(@orange);
}

.related-classes__bootcamp {
  .colored-card(@green);
}
