<div class="container">
  <div>
    <input [(ngModel)]="searchQuery" type="text" />
    <button type="button" (click)="addUser()">Add new user</button>
  </div>
  <div>
    <app-user
      *ngIf="newUser && newUser.isEditing"
      [user]="newUser"
      (userChange)="onUserCreate($event)"
    ></app-user>
    <app-user
      *ngFor="let user of users | search: searchQuery; let i = index"
      [user]="user"
      (userChange)="onUserUpdate(i, $event)"
      (userDelete)="onUserDelete($event)"
    ></app-user>
  </div>
</div>
