.search {
  display: grid;
  grid-template-columns: auto max-content;
  column-gap: 1rem;
}
.input-search {
  border-radius: 0.75rem;
  border: none;
  height: 40px;
  padding: 0.5rem;
}
.container {
  max-width: 920px;
  margin: 1rem auto;
  display: grid;
  row-gap: 1rem;
}
.user-list {
  display: grid;
  row-gap: 1rem;
}
.button-search {
  background-color: #08b0da;
  border: none;
}
